<div class="container">
    <!-- <p>hla i aadasdwesm working fine </p>     -->
    <!-- A logIn Page with usrnem and pass,and a small trick -->
    <div class="card border-primary">
        <div class="card-body">

            <h4 class="card-title"><label>Login</label></h4>
            <!--Human  -->
            <!-- usr -->
            <label>User Name</label>
            <input type="text" class="form-control" [(ngModel)]="userNem" placeholder="EnterUserNem">

            <!-- pass -->
            <label>Pass Word</label>
            <input type="password" class="form-control" [(ngModel)]="passWrd" placeholder="EnterPass" >
<br>
<br>
            <!-- email/Phone number -->
            <!-- <label>{{EmailOrPhone}}</label> -->
            <input [type]="emailType" class="form-control"   [(ngModel)]="eml"  *ngIf="bool_eml" placeholder="enter Email">
            <input [type]="phoneType" class="form-control"   [(ngModel)]="nmbr" *ngIf="bool_phne" placeholder="Enter PhoneNumber">

            <button (click)="toPhone_numb()"> ByEmail</button>
            <button (click)="revertEmlPhon()"  >ByPhoneNumber</button>
            <br>
            <br>

            <!-- button -->
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" [disabled]="userNem ==='' "
                    (click)="getUsrNem()" >LzGo</button>
            </div>

            <!-- Alian -->
            <div class="d-flex justify-content-center">
                <button type="button"  class="btn btn-primary">I am an Alian</button>
            </div>
        </div>
        <br>
        <br>
        <!--  info -->

        <h1 *ngIf="sumbitt">Welcome {{userNem}}</h1>
        <h1 *ngIf="sumbitt">Ur pass is {{passWrd}}</h1>
        <h1 *ngIf="sumbitt">The Email you Entered Is {{eml}}</h1>
        <h1 *ngIf="!sumbitt">The Number You Entered Is {{nmbr}} </h1>
      
        <!-- <h1>ur phone number is {{das}}</h1> -->

    </div>


    <div class="yosers">
       <p *ngFor="let uuusers of usrsArray"> the Users you Adedd are {{usrsArray}}</p>
    </div>
</div>